/* =================================
  OVERRIDE: #Typography
==================================== */

@import "settings/settings";

.name {
  font-size: $font-size-name;
  margin: 0;

  a {
    @extend %text-center;
    display: block;
    padding: 10px 15px;
  }
}
