@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:400,400italic);
* {
  box-sizing: border-box; }

html {
  background: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

body {
  margin: 0; }

img {
  max-width: 90%;
  display: block;
  margin: 0 auto; }

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

p {
  text-align: center; }

a {
  color: #323232;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase; }
  a[href^="mail"] {
    text-transform: none; }

.logo {
  font-family: "Montserrat", sans-serif; }

.section-title {
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .section-title {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; } }
  @media screen and (min-width: 1024px) {
    .section-title {
      padding-bottom: 20px; } }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #8c8b8b;
  padding: 0 10px;
  font-size: 0.9em; }

footer nav ul li {
  background: none; }

footer nav ul li:not(.mobile-only) {
  display: none; }

@media screen and (min-width: 768px) {
  footer nav ul li:not(.mobile-only) {
    display: inline-block; } }
section {
  padding: 20px 10px; }

header {
  padding: 0 10px 20px; }

@media screen and (min-width: 1024px) {
  /* Header */
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0; }

  header h1 {
    padding-left: 10px; } }
@media screen and (min-width: 768px) {
  .about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }
@media screen and (min-width: 1024px) {
  .about {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; } }
.about p {
  font-size: 1.2em; }
  @media screen and (min-width: 768px) {
    .about p {
      text-align: left;
      padding: 0 20px; } }
  @media screen and (min-width: 1024px) {
    .about p {
      width: 60%; } }
@media screen and (min-width: 768px) {
  .about img {
    width: 40%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }
@media screen and (min-width: 1024px) {
  .about img {
    width: 60%; } }

.contact {
  background: white; }
  @media screen and (min-width: 768px) {
    .contact__pitch {
      width: 60%;
      margin: 0 auto; } }
  @media screen and (min-width: 1024px) {
    .contact__pitch {
      width: 45%; } }

nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media screen and (min-width: 768px) {
    nav ul {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  nav ul li {
    margin: 5px 0;
    padding: 10px;
    background: white;
    text-align: center; }
    @media screen and (min-width: 768px) {
      nav ul li {
        background: none;
        padding: 10px 20px; } }

.portfolio {
  background: #fff; }

@media screen and (min-width: 768px) {
  /* Portfolio */
  .portfolio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .project {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%; }

  .project__description {
    padding: 0 10px; } }
@media screen and (min-width: 1024px) {
  /* Portfolio */
  .project {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33%;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%; } }
@media screen and (min-width: 768px) {
  /* Values */
  .values {
    display: flex;
    flex-wrap: wrap; }

  .values h2 {
    flex: 1 1 100%; }

  .value {
    flex: 1 1 33%;
    padding: 0 10px; } }
@media screen and (min-width: 768px) {
  /* Overrides */
  .mobile-only {
    display: none; } }

/*# sourceMappingURL=application.css.map */
