/* =================================
  LAYOUT: #Grid
==================================== */

.row {
  flex: 1;

  @media (min-width: $tablet) {
    @include tabletLayout;
  }
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}
