// ============================================================================
// LAYOUT: #Header
// ============================================================================

header {
  padding: 0 10px 20px;

  @media screen and (min-width: $desktop) {
    @include flex;
    @include flex-justify-space-between;
    @include flex-align-center;
    padding-bottom: 0;
  }

  h1 {
    padding-left: 10px;
  }
}
