/* =================================
  COMPONENT: #Banner
==================================== */

.banner,
.main-footer {
  text-align: center;
}

.banner {
  color: #fff;
  background: #3acec2;
  padding: 1.8em 0;
  margin-bottom: 32px;
}
