// ============================================================================
// COMPONENT: #Contact
// ============================================================================

.contact {
  background: $white;

  &__pitch {
    @media screen and (min-width: $tablet) {
      width: 60%;
      margin: 0 auto;
    }

    @media screen and (min-width: $desktop) {
      width: 45%;
    }
  }
}
