// ============================================================================
// COMPONENT: #Contact
// ============================================================================

.contact {
  background: $white;

  &__pitch {
    @include breakpoint($tablet) {
      width: 60%;
      margin: 0 auto;
    }

    @include breakpoint($desktop) {
      width: 45%;
    }
  }
}
