// ============================================================================
// COMPONENT: #Navigation
// ============================================================================

nav {
  ul {
    @include flex;
    @include flex-columns;
    @extend %no-margin;
    @extend %no-padding;
    list-style-type: none;

    @media screen and (min-width: $tablet) {
      @include flex-row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    li {
      @extend %text-center;
      margin: 5px 0;
      padding: 10px;
      background: $white;

      @media screen and (min-width: $tablet) {
        background: none;
        padding: 10px 20px;
      }
    }
  }
}
