/* =================================
  COMPONENT: #Navigation
==================================== */

@import "settings/settings";

.main-nav {
  margin-top: 5px;

  @media (min-width: $tablet) {
    display: flex;
  }

  a {
    @extend %text-center;
    display: block;
    padding: 10px 15px;
    font-size: $font-size-body;
    color: $teal;
    text-transform: uppercase;

    &:hover {
      color: $blue;
    }
  }
}
