// ============================================================================
// COMPONENT: #Portfolio
// ============================================================================

.portfolio {
  background: #fff;
}

@media screen and (min-width: 768px) {

  /* Portfolio */

  .portfolio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .project {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .project__description {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1024px) {


  /* Portfolio */

  .project {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33%;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
  }
}