// ============================================================================
// COMPONENT: #Values
// ============================================================================

@media screen and (min-width: 768px) {

  /* Values */

  .values {
    display: flex;
    flex-wrap: wrap;
  }

  .values h2 {
    flex: 1 1 100%;
  }

  .value {
    flex: 1 1 33%;
    padding: 0 10px;
  }
}