// ============================================================================
// BASE: #General
// ============================================================================

@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:400,400italic);

* {
  box-sizing: border-box;
}

html {
  background: $lightGrey;
  font-family: $fontFamilyBody;
  font-size: $fontSizeBody;
  line-height: 1.5;
}

body {
  @extend %no-margin;
  @extend %no-padding;
}

img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
