// ============================================================================
// BASE: #Typography
// ============================================================================

h1,
h2,
h3 {
  font-family: $fontFamilyHeading;
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: $black;
  font-family: $fontFamilyHeading;
  font-weight: $fontWeight--bold;
  text-decoration: none;
  text-transform: uppercase;

  &[href^="mail"] {
    text-transform: none;
  }
}

.logo {
  font-family: $fontFamilyHeading;
}

.section-title {
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  @media screen and (min-width: 1024px) {
    padding-bottom: 20px;
  }
}
