// ============================================================================
// BASE: #Typography
// ============================================================================

h1,
h2,
h3 {
  @extend %text-center;
  font-family: $fontFamilyHeading;
}

p {
  @extend %text-center;
}

a {
  color: $black;
  font-family: $fontFamilyHeading;
  font-weight: $fontWeight--bold;
  text-decoration: none;
  text-transform: uppercase;

  &[href^="mail"] {
    text-transform: none;
  }
}

.logo {
  font-family: $fontFamilyHeading;
}

.section-title {
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;

  @include breakpoint($tablet) {
    @include flex-fill(100%);
  }

  @include breakpoint($desktop) {
    padding-bottom: 20px;
  }
}
