/* =================================
  BASE: #Typography
==================================== */

h2,
h3 {
  margin-top: 0;
}

h2,
h3,
a {
  color: #093a58;
}

p {
  font-size: .95em;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}